
.App {
  text-align: center;
}

#header {
  color: antiquewhite;
  background-image: url(https://images.unsplash.com/photo-1551610290-e153ec567dd8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1513&q=80);
  background-blend-mode: darken;
}

#header > h1 { 
  margin: 0;
  font-size:120pt;
  border-style: solid;
  border-color: transparent;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  color: antiquewhite;
  background-image: url(https://images.unsplash.com/photo-1551610290-e153ec567dd8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1513&q=80);
}

#socials {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px
}

.social-image {
  background-color: white;
  border-style: solid;
  border-width: 0pt;
  border-color: black;
  border-radius: 30%;
  width: 25px;
  height: 25px;
}

#copyright {
  /* padding: 20px; */
  font-weight: bold;
  font-size: 20pt;
}

#footer {
  padding: 20px
}

#footer-names > p {
  margin: 0;
  text-align: right;
}

#Ui-Container {
  max-width: 100%;
  max-height: auto;
  background-color: lightslategray
  /* background-image: url(https://images.unsplash.com/photo-1551610290-e153ec567dd8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1513&q=80); */
}

#map-container {
  
  align-content: center;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: px;
  width: 500px;
  color: black;
  /* background-image: url(https://images.unsplash.com/photo-1465176728568-7da7e336b1e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80); */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;  
}

#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}

.drop-down {
  margin-bottom: 5%;
  color:antiquewhite;
  background-color:transparent;
  border-color: transparent;
  padding: 1%;
  font-size: large;
}

.map {
  height: 70vh;
  width: 70vh;
}

#popup  {
  display: flexbox;
  justify-content: center;
  text-shadow: snow;
  font-weight: bold;
  background:antiquewhite;
  color: lightslategray;
  border-radius: 0%;

}

#popup > h3 {
  color: red;
  margin-bottom: 2px;
  font-size: x-large;
  text-align: center;
  text-decoration: saddlebrown;
}







/* 
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }  */